*{
    background-color: darkgrey;
    display: flex;
}

body {
    background-color: darkgrey;
    display: flex;
}

h1 {
    background-color: black;
    color: red;
    padding: 50px;
    margin: 30px;
    justify-content: center;
    font-family: 'REM', sans-serif ;
}

#caixa-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: space-around;
    flex-shrink:-50px;
}

.coluna1 {
    flex-shrink:-50px;
}