body {
    background-color: darkgrey;
}

.img {
    width: 80%;
    height: 60%;
    background-size: contain;
    border: solid 1px;
    margin: 5px;
    padding: 5px;
}

h1 {
    color: red;
    padding: 50px;
    margin: 30px;
    justify-content: center;
    font-family: cursive;
    display: flex;
}

#caixa-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
}

.column {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
}