body {
    background-color: darkgrey;
    display: flex;
}

.img {
    width: 80%;
    height: 60%;
    background-size: contain
}

h1 {
    background-color: black;
    color: red;
    padding: 50px;
    margin: 30px;
    justify-content: center;
    font-family: 'REM', sans-serif ;
}

#caixa-flex {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: center;
    align-content: space-around;
}

